<!DOCTYPE html>
<!-- Website template by freewebsitetemplates.com -->
<html>
<head>
	<meta charset="UTF-8">
	<title>{{title}}</title>
	<link rel="stylesheet" href="css/style.css" type="text/css">
</head>
<body>
	<div id="background">
		<div id="page">
			{{> header}}
			<div id="contents">
				<div class="box">
					<div>
						<div id="news" class="body">
							<div class="sidebar">
								<h3>Latest News</h3>
								<ul>
									{{#each latestnews}}
									<li>
										<a href="/news">{{this.title}}</a>
									</li>
									{{/each}}
								</ul>
								<h3>Vaction Tips</h3>
								<ul>
									{{#each vacationtips}}
									<li>
										<a href="/news">{{this.title}}</a>
									</li>
									{{/each}}
								</ul>
							</div>
							<div>
								<h1>News</h1>
								<img src="images/{{newstory.image}}" alt="Img">
								<h2>{{newstory.title}}</h2>
								<span class="time">{{newstory.date}}<br> by: {{newstory.author}}</span>
								{{{newstory.article}}}
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		{{> footer}}
	</div>
</body>
</html>